<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Data</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <video src="/static/video/"></video>
    <div class="nav">
        <nav><img src="/static/images/yocochatbot.png" alt="">YOCO_</nav>
    </div>

    <div class="frame">
        <div>
        </div>
        <div id="data-container">
            <h1>Emotion Data:</h1>
            <p id="data-content">Emotion: </p>
            <p id="percent-content">Percent: </p>
            <img id="emoji-image" src="" alt="Emoji">
            <p id="quote-content"></p>
        </div>
        <script src="/static/js/script.js"></script>
    </div>
</body>
</html>
